@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400;500&family=Josefin+Sans:ital,wght@0,500;1,400&family=Lobster&family=Raleway&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    scroll-behavior: smooth; */
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 0px;
    /* color: white; */
    position: absolute;
    top: 0%;
    z-index: 2;
    width: 80%;
}
.container{
/*     width:100%; */
    padding: 20px ;
    display: flex;
    justify-content: space-between;
    align-items:top;
    background-image: url("bg.jpg");
    background-size: cover;
    
    height:1300px;
    /* background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6),url("bg.jpg")); */
    background-position: center;
    /* background-size: cover; */
}
/* body{
    background-image: url("bg.jpg");
    background-size: cover;
} */
.logo{
    display: flex;
    /* align-items: center; */
    margin-top: 16px;
    /* text-align:left; */
    margin-left: 5%;
    font-weight: 900;
    text-transform: uppercase;
    color:rgb(255, 255, 255);
}
.logo .dot{
    display: inline-block;
    height:10px;
    width:10px;
    border-radius: 50%;
    background-color:rgb(255, 255, 255);
    margin: 20px;
}
.navbar-menu{
    display: flex;
    margin-left: 40%;
    font-size: 300;
}
.navbar-menu a{
    text-decoration: none;
    margin-right: 10px;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    padding: 12px 10px;
    padding-left: 10px;
    border-radius: 2px;
    display: inline-block;
    text-transform: uppercase;
    transition: 0.4s;
    /* position: absolute ; */
    /* right: 10px; */
    margin-left:50px;

}
/* .navbar-menu a::after{
    content:"";
    display: block;
    height: 3px;
    background-color: rgb(96, 218, 235) ;
    width: 0%;
    transition: all ease in out 300ms;
} */
/* .navbar-menu a:hover::after{
    width: 100%; */
/* } */
/* .nav-links .active{
    color: brown;
} */
.navbar-menu a:hover{
    color: rgb(177, 164, 164);
}
/* .homepage{ */
    /* background-position: center; */
    /* padding: 125px 7% 0rem 10%;
    position: relative;
    overflow: hidden;
    color: white;
    display: flex;
    align-items: center; */
    /* width: 100%; */
/* } */
/* .background
    /* background-color: black; */
    /* width: 1040px; */
    /* height: 592px; */
    /* border-radius: 320px; */
    /* transform: rotate(320deg); */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: flex-start; */
    /* position: absolute; */
    /* z-index: 0; */
    /* right: -244.8px;
    top: -160px; */
/* } */ 
.description{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(255, 255, 255);
    padding: 0 70px;
    width: 100%;
    text-align: center;
}
.description h1{
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 70px;
}
.description p{
    font-size:17px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: white;
    letter-spacing: 2px;
    line-height: 25px;
    margin-bottom: 30px;
}
.description button{
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: white;
    background: none;
    text-transform: uppercase;
    padding: 12px 12px;
    border: 1px solid white;
    border-radius: 3px;
    outline:none;
    cursor:pointer;
    transition: 0.4s;
}
.description button:hover{
    background-color: white;
    color:black;
}
.coffees{
    background-color: white;
    padding-left: 10%;
    padding-right:10%;
    position:relative;
}
.coffees .light h1{
    color: rgb(20, 155, 20);
    margin-top: 128px;
    font-size: 50px;
    font-weight: bold;
}
.coffees .light img{
    width: 617px;
    height: 345px;
/*     position: relative; */
}
.coffees .light p{
    font-size:25px;
    font-family:'Roboto Condensed', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10%;
    position: absolute;
    left:57%;
    top: 122px;
    right: 40px;
}
.coffees .medium h1{
    color: rgb(20, 155, 20);
    margin-top: 100px;
    font-size: 50px;
    font-weight: bold;
}
.coffees .medium img{
    width: 617px;
    height: 345px;
/*     position: relative; */
}
.coffees .medium p{
    font-size: 25px;
    font-family:'Roboto Condensed', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10%;
    position: absolute;
    left: 57%;
    top: 575px;
    right: 40px;
}
.coffees .dark h1{
    color: rgb(20, 155, 20);
    margin-top: 100px;
    font-size: 50px;
    font-weight: bold;
}
.coffees .dark img{
    width: 617px;
    height: 345px;
/*     position: relative; */
}
.coffees .dark p{
    font-size: 25px;
    font-family:'Roboto Condensed', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10%;
    position: absolute;
    padding-right:10% ;
    left: 57%;
    top: 1123px;
    right: 40px;
}
footer{
    background-color: rgb(122, 51, 51);
    height: 350px;
    position: relative;
    font-family:'Raleway', sans-serif ;
}
footer .logo{
    text-align: center;
    font-size: x-large;
    position: absolute;
    left: 37%;
    top: 10px;
}
footer .contact h3{
    font-size: 25px;
    color: rgb(202, 187, 187);
    position: absolute;
    top: 15%;
    left: 5%;
}
footer .contact p{
    color:gray;
    font-size: 25px;
    position: absolute;
    top: 25%;
    left: 5%;
}
footer .contact #p1 i{
    color: gray;
    position: absolute;
    top:43%;
    left: 5%; 
    cursor: pointer;
}
footer .contact #p1 h4{
    color: grey;
    font-size: 25px;
    position: absolute;
    top: 43%;
    left: 7%;
    cursor: pointer;
}
footer .contact h4{
    font-size: 25px;
    position: absolute;
    top: 53%;
    left: 5%;
    color: grey;
}
footer .icons {
    position: absolute;
    top: 28%;
    left: 40%;
    text-align: center;
    padding:12px 10px;
    padding-left: 10px;
    color: rgb(253, 249, 249);
    /* background-color: black; */
    transition: 0.4s;
}
footer .icons a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    height:40px;
    width:40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50px;
    margin: 0 8px;
    opacity: 0.75;
}
footer .icons a:hover{
    opacity: 0.9; 
} 
footer .list{
    margin-left: 33%;
    display: flex;
    font-size: 24px;
 } 
footer .list a{
    text-decoration: none;
    margin-right: 10px;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    padding: 12px 10px;
    padding-left: 10px;
    border-radius: 2px;
    display: inline-block;
    text-transform: uppercase;
    transition: 0.4s;
    margin-left:6px;
    margin-top: 218px;
} 
footer p{
    font-size: 16px;
    color: black;
    position: absolute;
    top: 265px;
    left: 37%;
    font-weight: 600;
}

